body {
  background-color: #F6F8FA !important;
}
.h2, h2 {
  margin-top: 3px;
  margin-bottom: 0;
  font-family: 'Courier New', monospace !important;
  font-size: 1.5em !important;
  font-weight: bold;
  text-align: center;
}

.form-control {
  width: 90%;
  height: 26px;
  font-size: 12px;
  padding: 0 12px;
}
.form-group {
  margin-bottom: 8px;
}

button#go {
  padding: 2px 8px;
  margin-bottom: 3px;
  margin-top: -2px;
}
button#go, .btn {
    font-size: 10px;
}
label {
  margin-bottom: 0;
  font-weight: 400;
}
